%a.logo{:href => "https://front.codes/", :target => "_blank"}
  %img{:alt => "", :src => "https://assets.codepen.io/1462889/fcy.png"}/
.section
  .container
    .row.full-height.justify-content-center
      .col-12.text-center.align-self-center.py-5
        .section.pb-5.pt-5.pt-sm-2.text-center
          %h4.mb-4.pb-3 Sign Up
          %input#reg-log.checkbox{:name => "reg-log", :type => "checkbox"}/
          .card-3d-wrap.mx-auto
            .card-3d-wrapper
              .card-front
                .center-wrap
                  .section.text-center
                    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
                      = render "devise/shared/error_messages", resource: resource
                      .form-group.mt-2
                        = f.label :name
                        = f.text_field :name, autofocus: true, autocomplete: "name"
                        %i.input-icon.uil.uil-at
                      .form-group.mt-2
                        = f.label :address
                        = f.text_field :address, autofocus: true, autocomplete: "address"
                        %i.input-icon.uil.uil-at
                      .form-group.mt-2
                        = f.label :phone
                        = f.text_field :phone, autofocus: true, autocomplete: "phone"
                        %i.input-icon.uil.uil-at
                      .form-group.mt-2
                        = f.label :email
                        = f.email_field :email, autofocus: true, autocomplete: "email"
                        %i.input-icon.uil.uil-at
                      .form-group.mt-2
                        = f.label :password
                        - if @minimum_password_length
                          %em
                            (#{@minimum_password_length} characters minimum)
                        %br/
                        = f.password_field :password, autocomplete: "new-password"
                        %i.input-icon.uil.uil-lock-alt
                  .form-group.mt-2
                    = f.label :password_confirmation
                    %br/
                    = f.password_field :password_confirmation, autocomplete: "new-password"
                  .actions
                    %br/
                    = f.submit "Sign up"
                  %br/
                  = render "devise/shared/links"
                  %br/

