<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Shop</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                <%= link_to 'Home', root_path %>
                    <span>Shop</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="shop__option">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <div class="shop__option__search">
                        <form action="#">
                            <select>
                                <option value="">Filter</option>
                                <option value="">Red Velvet</option>
                                <option value="">Cup Cake</option>
                                <option value="">Biscuit</option>
                            </select>
                            <input type="text" placeholder="Search">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5">
                    <div class="shop__option__right">
                        <select>
                            <option value="">Default sorting</option>
                            <option value="">A to Z</option>
                            <option value="">1 - 8</option>
                            <option value="">Name</option>
                        </select>
                        <%= link_to "#" do %><i class="fa fa-list"></i><% end %>
                        <%= link_to "#" do %><i class="fa fa-reorder"></i><% end %>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        <% @products.each do |product| %>
            <tr>
                <td class="product__cart__item">
                    <div class="product__cart__item__pic">
                    <% if product.image.present? %>
                    <%= image_tag url_for(product.image), resize_to_limit: [100, 100] %>
                    <% end %>
                    </div>
                    <div class="product__cart__item__text">
                    <%= product.name %><br>
                    <%= product.selling_price %>
                    </div>
                </td>
            </tr>
            <%= form_with(url: cart_path) do |f| %>
              <%= f.hidden_field :id, value: product.id %>
              <%= f.number_field :quantity, value: 0, min:1 %>
              <%= f.submit "Add to cart" %>
            <% end %>
            <% end %>

        
        </div>
        <%== pagy_nav(@pagy) %>
    </div>
</section>
<!-- Shop Section End -->


