.breadcrumb-option
  .container
    .row
      .col-lg-6.col-md-6.col-sm-6
        .breadcrumb__text
          %h2 Product detail
      .col-lg-6.col-md-6.col-sm-6
        .breadcrumb__links
          = link_to 'Home', root_path
          = link_to 'Shop', '/products'
          %span Sweet autumn leaves
%section.product-details.spad
  .container
    .row
      .col-lg-6
        .product__details__img
          .product__details__big__img
            = image_tag "shop/details/product-big-1.jpg", class: "big_img"
          .product__details__thumb
            .pt__item.active
              = image_tag "shop/details/product-big-2"
            .pt__item
              = image_tag "shop/details/product-big-1"
            .pt__item
              = image_tag "shop/details/product-big-4"
            .pt__item
              = image_tag "shop/details/product-big-3"
            .pt__item
              = image_tag "shop/details/product-big-5"
      .col-lg-6
        .product__details__text
          .product__label Cupcake
          %h4 SWEET AUTUMN LEAVES
          %h5 $26.41
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore
            et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida
          %ul
            %li
              SKU:
              %span 17
            %li
              Category:
              %span Biscuit cake
            %li
              Tags:
              %span Gadgets, minimalisstic
          .product__details__option
            .quantity
              .pro-qty
                %input{:type => "text", :value => "2"}/
            = link_to "Add to cart", "/carts", class: "primary-btn"
    .product__details__tab
      .col-lg-12
        %ul.nav.nav-tabs{:role => "tablist"}
          %li.nav-item
            %a.nav-link.active{"data-toggle" => "tab", :href => "#tabs-1", :role => "tab"} Description
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#tabs-2", :role => "tab"} Additional information
          %li.nav-item
            %a.nav-link{"data-toggle" => "tab", :href => "#tabs-3", :role => "tab"} Previews(1)
        .tab-content
          #tabs-1.tab-pane.active{:role => "tabpanel"}
            .row.d-flex.justify-content-center
              .col-lg-8
                %p
                  This delectable Strawberry Pie is an extraordinary treat filled with sweet and
                  tasty chunks of delicious strawberries. Made with the freshest ingredients, one
                  bite will send you to summertime. Each gift arrives in an elegant gift box and
                  arrives with a greeting card of your choice that you can personalize online!
          #tabs-2.tab-pane{:role => "tabpanel"}
            .row.d-flex.justify-content-center
              .col-lg-8
                %p
                  This delectable Strawberry Pie is an extraordinary treat filled with sweet and
                  tasty chunks of delicious strawberries. Made with the freshest ingredients, one
                  bite will send you to summertime. Each gift arrives in an elegant gift box and
                  arrives with a greeting card of your choice that you can personalize online!2
          #tabs-3.tab-pane{:role => "tabpanel"}
            .row.d-flex.justify-content-center
              .col-lg-8
                %p
                  This delectable Strawberry Pie is an extraordinary treat filled with sweet and
                  tasty chunks of delicious strawberries. Made with the freshest ingredients, one
                  bite will send you to summertime. Each gift arrives in an elegant gift box and
                  arrives with a greeting card of your choice that you can personalize online!3

