<!-- Breadcrumb Begin -->
<div class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__text">
                    <h2>Shopping cart</h2>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="breadcrumb__links">
                <%= link_to 'Home', root_path %>
                    <span>Shopping cart</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>        
                        <% @carts.all.each do |cart| %>
                            <tr>
                            <td class="product__cart__item">
                                <div class="product__cart__item__pic">
                                <% if cart.product.image.present? %>
                                    <%= image_tag url_for(cart.product.image), resize_to_limit: [100, 100] %>
                                <% end %>
                                </div>
                                <div class="product__cart__item__text">
                                <%= cart.product.name %>
                                <%= cart.product.selling_price %>
                                </div>
                            </td>
                            <td class="quantity__item">
                            <div class="quantity">
                                <div class="pro-qty">
                                <%= form_with(model: cart, url: cart_path(cart), method: :patch) do |f| %>
                                    <%= f.label :quantity %>
                                    <%= f.number_field :quantity, min: 1 %>
                                    <%= f.submit 'Update' %>
                                <% end %>
                                </div>
                            </div>
                            </td>
                            <td class="cart__price"><%= cart.sub_total %>
                            </td>
                            <td class="cart__close"><%= button_to 'Remove', destroy_path(cart), method: :delete %>
                            </span></td>
                        </tr>
                    <% end %>
                         </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                        <%= link_to "Continue Shopping", "/products" %> 
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                        <%= link_to "#" do %><i class="fa fa-spinner">Update cart</i><% end %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">   
                <div class="cart__discount">
                    <h6>Discount codes</h6>
                        <form action="#">
                            <input type="text" placeholder="Coupon code">
                            <button type="submit">Apply</button>
                        </form>
                </div>            
                <div class="cart__total">
                <h6>Cart total</h6> 
                        <ul>
                            <li>Subtotal <span><%= @carts.sum { |cart| cart.sub_total } %></span></li> 
                            <li>Total <span><%= @carts.sum { |cart| cart.sub_total } %></span></li>
                        </ul>
                    <%= link_to "Proceed to checkout", "/checkout", class: "primary-btn" %> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

